--- 
---

@font-face {
  font-family: 'Fira Sans Light';
  src: url('/assets/fonts/FiraSans-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans Light Italic';
  src: url('/assets/fonts/FiraSans-LightItalic.ttf');
  font-display: swap;
}

@media (max-width: 360px) {
  article {
    max-width: calc(85vw - 15px);
  }
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    ". article article .";
  grid-template-rows: 0.1fr auto;
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas: "hamburger name name .";
  justify-content: space-around;
  border-bottom: 1px solid #bebebe;
  z-index: 2;
  -moz-box-shadow: 3px 3px 13px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px 13px 0.1px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 13px 0.1px rgba(0, 0, 0, 0.1);

  span#icon-hamburger {
    grid-area: hamburger;
    margin-top: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  #title {
    grid-area: name;
    padding-top: 5px;
    margin-bottom: 0px;
    justify-self: center;
    & > a {
      font-weight: 100;
      color: black;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

article {
  grid-area: article;
  padding: 25px 25px;
}

aside {
  grid-area: sidebar;
  display: none;
  background-color: #f9f9f9;
  
  a {
    font-family: 'Fira Sans Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

.hamburger {
  height: 25px;
  width: 25px;
  padding: 10px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.highlighter-rouge { // Code blocks 
  max-width: calc(100vw - 50px);
}

#topics a {
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
  padding: 3px 5px 5px 8px;

  &:hover {
    background-color: #e9e9e9;
    color: black;
    padding: 3px 5px 5px 8px;
    border-radius: 3px;
    text-decoration: none;
  }

  &:visited {
    color: black;
  }
}

.menu-toggle {
  line-height: 1em;
  font-size: 1em;
  padding-top: 3px;

  &:hover, &:focus {
    color: #c00;
  }
}

#mobile-topics {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-x: visible;
  overflow-y: hidden;
  transition: left 0.3s ease,
  box-shadow 0.3s ease;
  z-index: 999;

  &:target {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);

    ul {
      position: relative;
      z-index: 1000;
    }

    + .backdrop {
      position: absolute;
      display: block;  
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 998;
      background: rgba(0,0,0,.85);
      cursor: default;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
   -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
    box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 200px;
    background: #f9f9f9;
  }

  a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: black;
    text-decoration: none;
    font-family: 'Fira Sans Light', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

#mobile-topics #mobile-topics-close {
  position: absolute;
  right: 0;
  top: 0;
}

#mobile-topics:target #mobile-topics-close {
  z-index: 1001;
}

@supports (position: fixed) {
  #mobile-topics,
  #mobile-topics:target + .backdrop {
    position: fixed;
  }
}

@media (min-width: 768px) {
  body {
    grid-template-rows: 0.1fr auto;
  }
}

@media (min-width: 1025px) {
  body {
    grid-template-areas:
      "header header header header header"
      "sidebar . article article .";
    grid-template-columns: 20% 10% 1fr 1fr 10%;
  }

  header {
    grid-template-areas: "name . . .";
    justify-content: normal;

    #icon-hamburger, nav {
      display: none;
    }

    h2 {
      justify-self: center;
    }
  }

  #title {
    padding: 10px;
    padding-top: 10px;
  }

  #topics {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  aside {
    word-break: break-word;
    border-right: 1px solid #bebebe;
    display: grid;
    grid-template-rows: 1fr 100px;


    & #ref {
      display: flex;
      padding: 10px;
      justify-content: space-evenly;
      align-items: center;
      border-top: 1px solid #cecece;
      grid-row: 2;

      .icon {
        height: 60px;
        display: inline-block;

        * {
          height: 100%;
          display: inherit;
        }

        svg {
          fill: #6f6f6f;
        }
      }
    }
  }
}
