<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Glitch Art Bot documentation">
    <meta name="keywords" content="Twitter, Glitch, Glitch Art Bot, PixelSort, PixelDrift">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/default.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/post.css" />
    <title>{{page.title | append: ' - '}} {{ site.title }}</title>
  </head>
  <body>
    <header>
      <a id="icon-hamburger" href="#mobile-topics" class="menu-toggle">
        {% include icons.html icon="hamburger" %}
      </a>
      <nav id="mobile-topics">
        <a href="#icon-hamburger" id="mobile-topics-close" class="menu-close">
          X
        </a>
        <ul>
        {% assign sortedTopics = site.docs | sort: 'order' %} {% for topic in
          sortedTopics %}
          <li>
            <a href="{{topic.url}}" class="noselect">{{ topic.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <a href="#icon-hamburger" class="backdrop" tabindex="-1" hidden></a>
      <h2 id="title" class="noselect"><a href="/docs/introduction">Glitch Art Bot</a></h2>
    </header>
    <aside>
      <section id="topics">
        {% assign sortedTopics = site.docs | sort: 'order' %} {% for topic in
        sortedTopics %}
        <a href="{{topic.url}}" class="noselect">{{ topic.title }}</a>
        {% endfor %}
      </section>
      <section id="ref">
        <span id="icon-github" class="icon">
          <a href="https://github.com/glitchartbot" target="_blank" rel="noopener">
            {% include icons.html icon="github" %}
          </a>
        </span>
      </section>
    </aside>
    <article>
      {{ content }}
    </article>
  </body>
</html>
